
/*Orria goitik behera batera egin dadin*/
html{
	height: 100%;
	overflow: hidden;
}

/*Gorputza polita jartzeko apur bat*/
body{
/*Serifak ez ditut gustuko*/
	font-family: Sans-Serif;
	height: 100%;
	width: 95%;
	margin-left: 2.5%;
	margin-right: 2.5%;
	overflow: scroll;
}

p{

	margin-left: 35%;
	margin-right: 35%;
	text-align: justify;

}

/*Titulu handiak zentratuta*/
h1 {
	text-align: center;
}
/*Bigarren tituluak ezkerretara*/
h2 {
	text-align: left;
	margin-left: 2.5%;
}

/*Taulen ertzak desaktibatu ditut defektuz, ertzak dituzten taulak ez dituztenak baino gutiago direlako.*/
table, td, th {
	border: 0px;
}

/*Taulen buruetan gauzak ezberdinak dira*/
th {
	background: green;
	color: white;
}

.navBanner{

	color:white;
	font-weight: bold;
	font-size: 24px;
	background:#FFA500;
	background-image: linear-gradient(to right , #00494C, #00494C, #236D2B, #414811, #71350B, #71220B, #71220B, #71220B, #71220B, #71220B)

}

.navPanel{

	width: 25vw;

}

/*Estilo dudosoa-edo, beltzak zuri eta zuriak beltz. Gauean lan egiteko egokiagoa-edo*/
.darkmode {color:white; background:#101010; border-radius: 2px; background-image: linear-gradient(to top, #101010, #242424, #242424, #242424, #242424, #242424, #242424, #242424)}
